.navbar {
    display: grid;
    grid-template-areas: "header" "bottom";

    padding: 24px 0;
    box-sizing: border-box;

    row-gap: 22px;
}

.navbar-header {
    grid-area: header;

    height: 46px;

    display: flex;
    gap: 48px;
    width: auto;

    align-items: center;
    justify-content: space-between;
}

.navbar-header__logo {
    flex-basis: 128px;
}

.navbar-header__search-bar {
    padding-left: 44px;
    background: url('./../../images/Icon/24/Search@1x.svg') no-repeat left;
    background-position: 12px;
    min-width: 0px;
    width: 100%;
    text-overflow:ellipsis;
}

.navbar-header__buttons {
    flex: 0;
    display: flex;
    gap: 12px;
}

.navbar-header__button {
    padding-left: 16px;
    box-sizing: border-box;
    white-space: nowrap;
}

.navbar-header__button-icon {}

.navbar-bottom {
    grid-area: bottom;
    display: flex;
    gap: 48px;
    justify-content: space-between;
}

.navbar-nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    gap: 0 32px;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-nav__page-link {
    text-decoration: none;
    white-space: nowrap;
}

.navbar-nav__page-link:visited {
    color: var(--grays_olive);
}

.navbar-nav__page-link--active {
    color: var(--colors_primary-dark) !important;
}

.navbar-contacts {
    display: flex;
    gap: 32px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.navbar-contacts__contact {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar-contacts__logo {}

.navbar-contacts__text {
    white-space: nowrap;
}

@media only screen and (max-width: 1700px) {
    .navbar-nav {
        row-gap: 15px;
    }

    .navbar-contacts {
        flex-direction: column;
        row-gap: 15px;
    }
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1024px) {

    .navbar-header__button {
        padding: 13px;
    }

    .navbar-header__button-text {
        display: none;
    }
    
    .navbar-bottom {
        justify-content: center;
    }

    .navbar-nav__page-link {

    }

    .navbar-contacts {
        position: absolute;
        display: none;
    }
}

@media only screen and (max-width: 414px) {
    
}