.about {
    display: flex;
    gap: 64px;
    align-items: center;
}

.about__description {
    font-size: var(--font-size_medium);
    line-height: 36px;
    flex: content;
    color: var(--grays_olive)
}

.about-docs {
    display: flex;
    gap: 32px;
    justify-content: center;

    width: 100%;
}

.about-docs__doc {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
    padding-bottom: 32px;

    width: 100%;
    max-width: 400px;
}

.about-docs__image {

}

.about-docs__link {
    font-weight: var(--font-weight_medium);
}

@media only screen and (max-width: 1700px) {
    .about {
        flex-direction: column;
    }
}



@media only screen and (max-width: 1024px) {
    .about {
    }
    .about-docs__doc {
        max-width: 300px;
        padding: 25px;
        justify-content: center;
        padding-bottom: 16px;
    }
    .about-docs__image {
        width: fit-content;
    }
}

@media only screen and (max-width: 414px) {
    
}