.activities {}

.activities__header {}

.activities__list {
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

.activities__column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.activities__activity {
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 18px;
    padding-left: 32px;

    font-weight: var(--font-weight_small);
    font-size:  var(--font-size_medium);
    line-height: var(--line-height_medium);
}

.activities__button {}

@media only screen and (max-width: 1700px) {

}



@media only screen and (max-width: 1024px) {
    .activities__activity {
        flex-direction: column;
        gap: 16px;
    }
    .activities__button {
        width: 100%;
    }
}

@media only screen and (max-width: 414px) {
    
}